div.name_here{
  font-size: 40px;
  opacity: 0.9;
}
div.name_here input{
  font-size: 40px;
  text-align: center;
  opacity: 0.9;
  border: none;
  background: none;
}
div.name_here input::placeholder{

  color: #DDD;
}
div.name_here p{
  margin-top: 0px;
  border-top: 3px solid #FFF;
}

